body {
    color: #40514E;
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
    overflow-x: hidden;
}

h1{
    color: #fff;
    font-size: 6rem;
    font-family: 'Allura', cursive;
}

h2 {
    color: #4D77FF;
    font-family: 'Merriweather', serif;
    font-size: 3rem;
    font-weight: 700;
    /* margin: 0 auto 20px auto; */
}

h3 {
    color: #fff;
    font-family: 'Montserrat', sans-serif;
}

hr {
    color: #b4b4b4;
    border-style: none;
    border-top-style: dotted;
    border-width: 6px;
    width: 5%;
    margin: 100px auto;   
}

/* Home page */

.nav-item {
    font-family: 'Merriweather', serif;
}

.top-cloud {
    position: absolute;
    top: -15%;
    right: 20%;
}

.bottom-cloud {
    position: absolute;
    left: 5%;
    bottom: 60%;
}

/* Intro section */

#intro {
    line-height: 2;
}

/* color classes */
.bg-blue {
    background-color: #56BBF1;
}

.bg-light-blue {
    background-color: #5EE6EB
}
/* #4D77FF
#56BBF1
#5EE6EB
#F2FA5A */