body {
    color: #40514E;
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
    overflow-x: hidden;
}

h1{
    color: #fff;
    font-size: 6rem;
    font-family: 'Allura', cursive;
}

h2 {
    color: #4D77FF;
    font-family: 'Merriweather', serif;
    font-size: 3rem;
    font-weight: 700;
    /* margin: 0 auto 20px auto; */
}

h3, h6 {
    color: #4D77FF;
    font-family: 'Montserrat', sans-serif;
}

hr {
    color: #b4b4b4;
    border-style: none;
    border-top-style: dotted;
    border-width: 6px;
    width: 5%;
    margin: 100px auto;   
}

.section-padding {
    padding: 5% 5% 10% 5%;
} 

/* Home page */

.nav-item {
    font-family: 'Merriweather', serif;
}

.top-cloud {
    position: absolute;
    top: -15%;
    right: 20%;
}

.bottom-cloud {
    position: absolute;
    left: 8%;
    bottom: 50%;
}

/* Intro section */

#intro {
    line-height: 2;
}

/* education Section */

.education-img {
    height: 400px; 
    width: 100%;
       
}


/* color classes */
.color-white {
    color: #fff;
}

.color-blue {
    color: #4D77FF;
}

.bg-blue {
    background-color: #4D77FF;
}

.bg-light-blue {
    background-color: #56BBF1
}

.bg-yellow {
    background-color: #F2FA5A;
}
